<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Portable.BouncyCastle" version="1.7.0.2" targetFramework="wp80" />
  <package id="Rx-Core" version="2.2.2" targetFramework="wp71" requireReinstallation="True" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="wp71" requireReinstallation="True" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="wp71" requireReinstallation="True" />
</packages>