<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="1.5.2" targetFramework="wp71" />
  <package id="Caliburn.Micro.BindableAppBar" version="1.0.4.0" targetFramework="wp71" />
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.7" targetFramework="wp71" />
  <package id="ID3" version="0.3.0" targetFramework="wp71" />
  <package id="ImageTools" version="0.3.1" targetFramework="wp71" />
  <package id="libphonenumber-csharp-portable" version="1.0.0.2" targetFramework="wp80" />
  <package id="Mangopollo.Light" version="1.3" targetFramework="wp71" />
  <package id="Rx-Core" version="2.2.2" targetFramework="wp71" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="wp71" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="wp71" />
  <package id="Rx-Main" version="2.2.2" targetFramework="wp71" />
  <package id="Rx-PlatformServices" version="2.2.2" targetFramework="wp71" />
  <package id="Rx-XAML" version="2.2.2" targetFramework="wp71" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp71" />
</packages>