<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="86ac7b2d-c9c4-41d0-a6df-5243eec0a454" Publisher="CN=536BC709-8EE1-4478-AF22-F0F0F26FF64A" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="86ac7b2d-c9c4-41d0-a6df-5243eec0a454" PhonePublisherId="a652821a-0986-4366-8fe7-f00379d89c9b" />
  <Properties>
    <DisplayName>VoipBackendServerHost</DisplayName>
    <PublisherDisplayName>Telegram Messenger LLP</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VoipBackendServerHost.App">
      <m3:VisualElements DisplayName="VoipBackendServerHost" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="VoipBackendServerHost" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>